@import '../../../../assets/sass/theme.scss';

.card {
    padding: .5rem;
    border: solid 1px mat-color($primary-color);
    border-radius: .25rem;
    background: #fff;   
    margin-bottom: 1rem; 
}