<app-title icon="local_offer">
  Product
  
  <button type="reset" mat-flat-button  color="primary">NEW PRODUCT</button>
</app-title>

<app-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="default-grid">
      <mat-form-field>
        <input matInput placeholder="Code" formControlName="code">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>
    </div>
    <div class="button-bar">
      <button type="reset"  mat-stroked-button  color="primary">CLEAR</button>
      <button type="submit" mat-flat-button     color="primary">FIND </button>
    </div>
  </form>
</app-card>