@import '../../../../assets/sass/theme.scss';

table {
    width: 100%;
    border: solid 1px mat-color($primary-color);
    border-radius: .25rem;
    tr {
        cursor: pointer;
        border-radius: .25rem;
        &.mat-row:hover {
            background: mat-color($primary-color, A100);
            td{color: #fff};
        }
        .mobile-label {
            display: none; 
        }
    }
}
.show-more-button {
    width: 100%;
    margin: 1rem 0;
}

@media (max-width: 600px) { 
    .mat-table {
        background: transparent;
    }
    table {
        border: none;
        background: transparent;
        .mat-header-row {
            display: none;
        }
        tr {
            border: solid 1px mat-color($primary-color);
            border-radius: .25rem;
            width: auto;
            margin-bottom: 1rem;
            display: block;
            height: auto;
            background: transparent;

            &.mat-row:hover {
                background: #fff;
                td{color: #000; background: rgba(0, 0, 0, 0.1)};
            }
            
            td {
                border-radius: .25rem;
                width: auto;
                display: block;
                text-align: left;
                padding: .5rem;
                background: #fff;

                .mobile-label {
                    font-weight: bold;
                    display: block; 
                    color: mat-color($primary-color, 700);
                }
            }
        }
    }
}
