<app-title icon="local_offer">
  Product
  <button type="reset" mat-flat-button  color="primary">NEW PRODUCT</button>
</app-title>

<app-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="default-grid">
      <mat-form-field>
        <input matInput placeholder="Code" formControlName="code">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Description" formControlName="description">
      </mat-form-field>
    </div>
    <div class="button-bar">
      <button type="reset"  mat-stroked-button  color="primary">CLEAN FILTERS</button>
      <button type="submit" mat-flat-button     color="primary">FILTER</button>
    </div>
  </form>
</app-card>

  <table mat-table [dataSource]="products" *ngIf="products">
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let product" class="mobile-col-25"> 
        <label class="mobile-label">Code</label>
        {{product.code}} 
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let product" class="mobile-col-75"> 
        <label class="mobile-label">Name</label>
        {{product.name}} 
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let product"> 
        <label class="mobile-label">Description</label>
        {{product.description}} 
        <span *ngIf="!product.description">-</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <button *ngIf="products" mat-stroked-button (click)="addLines()" color="primary" class="show-more-button"> Show More </button>