<mat-toolbar color="primary">
    <button mat-icon-button class="menu-mobile" (click)="menuOn = true">
        <mat-icon aria-label="Example icon-button with a heart icon">menu</mat-icon>
    </button>

    <div class="logo" routerLink="/home">
        <img class="descktop" src="https://firebasestorage.googleapis.com/v0/b/crud-product.appspot.com/o/logo.png?alt=media&token=c32d7ae3-00e3-42a3-acf1-f4076dd0c48c">
        <img class="mobile" src="https://firebasestorage.googleapis.com/v0/b/crud-product.appspot.com/o/logo-mobile.png?alt=media&token=3981567b-054d-4448-ad1c-1558908a1e6b">
    </div>
    
    <button *ngFor="let menu of routes" class="menu-button" mat-button routerLink="{{menu.router}}">{{menu.title}}</button>

</mat-toolbar>

<div class="sidenav" *ngIf="menuOn" [@slideInOut]>
    <div class="logo-menu" routerLink="/home" (click)="menuOn = false">
        <img src="https://firebasestorage.googleapis.com/v0/b/crud-product.appspot.com/o/logo.png?alt=media&token=c32d7ae3-00e3-42a3-acf1-f4076dd0c48c">
    </div>
    <a  (click)="menuOn = false" class="closebtn">&times;</a>
    <div class="menu-list">
        <a *ngFor="let menu of routes" routerLink="{{menu.router}}" (click)="menuOn = false">{{menu.title}}</a>
    </div>
</div>