<mat-toolbar color="primary">
    <button mat-icon-button class="menu-mobile" (click)="menuOn = true">
        <mat-icon aria-label="Example icon-button with a heart icon">menu</mat-icon>
    </button>

    <div class="logo">
        <img class="descktop" src="https://firebasestorage.googleapis.com/v0/b/crud-produto.appspot.com/o/logo-descktop.png?alt=media&token=c76865bc-536f-409f-8dbe-5c5b343c9b89">
        <img class="mobile" src="https://firebasestorage.googleapis.com/v0/b/crud-produto.appspot.com/o/logo-mobile.png?alt=media&token=42cd3c43-bb03-4d32-85cd-5b39439cfcb5">
    </div>
    <!--
        <button mat-button>PRODUCT</button>
    -->
</mat-toolbar>

<div class="sidenav" *ngIf="menuOn" [@slideInOut]>
    <div class="logo-menu">
        <img src="https://firebasestorage.googleapis.com/v0/b/crud-produto.appspot.com/o/logo-descktop.png?alt=media&token=c76865bc-536f-409f-8dbe-5c5b343c9b89">
    </div>
    <a  (click)="menuOn = false" class="closebtn">&times;</a>
    <div class="menu-list">
        <a href="#">Product</a>
    </div>
</div>