<div @slideIn @slideOut *ngIf="!slideOut" (@slideOut.done)="returnToQueryPage($event)">
  <app-title icon="local_offer">
    <span class="span-new" *ngIf="isNew">New</span> Product <span *ngIf="!isNew">ID</span>
  </app-title>

  <app-card>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="default-grid">

          <div  class="image-product">
            <img *ngIf="form.get('urlFile') && form.get('urlFile').value" [src]="form.get('urlFile').value"/>
            <button type="button" mat-stroked-button color="primary" *ngIf="form.get('urlFile') && !form.get('urlFile').value" (click)="file.click()" class="button-upload">UPLOAD IMAGE</button>
            <button type="button" mat-stroked-button color="primary"  *ngIf="form.get('urlFile') &&  form.get('urlFile').value" (click)="removeImage()" [disabled]="form.disabled">REMOVE IMAGE</button>
            <input #file type="file"(change)="onFileChange($event, file)"/>
          </div>

          <mat-form-field>
            <input #code matInput placeholder="Code" formControlName="code" maxlength="5">
            <mat-error *ngIf="form.get('code').invalid">{{getErrorMessage(form.get('code'))}}</mat-error>
            <mat-hint align="end">{{code.value.length}}/5</mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input matInput placeholder="Name" formControlName="name">
            <mat-error *ngIf="form.get('name').invalid">{{getErrorMessage(form.get('name'))}}</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select placeholder="Type of product" formControlName="type">
              <mat-option *ngFor="let type of types" [value]="type.name">
                {{type.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('type').invalid">{{getErrorMessage(form.get('type'))}}</mat-error>
          </mat-form-field>

          <mat-slide-toggle class="toggle-product" formControlName="active"  color="primary">{{form.get('active').value ? 'Active' : 'Inactive'}}</mat-slide-toggle>     

          <mat-form-field class="description-product">
            <input matInput #description placeholder="Description" formControlName="description" maxlength="150">
            <mat-hint align="end">{{description.value.length}}/150</mat-hint>
            <mat-error *ngIf="form.get('description').invalid">{{getErrorMessage(form.get('description'))}}</mat-error>
          </mat-form-field>
        </div>

        <div class="button-bar">
          <button type="button" mat-stroked-button  color="primary" (click)="slideOut = true" [disabled]="form.disabled">CANCEL</button>
          <button type="submit" mat-flat-button     color="primary" [disabled]="form.disabled" class="save-button"><span *ngIf="!form.disabled">SAVE</span> <span *ngIf="form.disabled">SAVING</span><img *ngIf="form.disabled" src="https://firebasestorage.googleapis.com/v0/b/crud-product.appspot.com/o/loading.gif?alt=media&token=98cfa1a8-0f2c-40fe-b6fa-7ee4e722ff21"/></button>
        </div>
      </form>
    </app-card>
</div>