@import '../../../../assets/sass/theme.scss';

.span-new {
    margin-left: .2rem;
}

.image-product {
    grid-row: span 3;
    padding: 1rem;
    
    img {
        height: 100%;
        width: 100%;
    }

    input {
        display: none;
    }

    button {
        width: 100%;
    }
}

.description-product {
    grid-column: span 2;
}

.toggle-product {
    margin: auto 0;
}